.bodyartsmartiaux{
    background: url("../images/bg_papier.jpg") repeat;
    font-family: arial,sans-serif;
    font-size: 12px;
    width: 100%;
}

.cadre_exterieurartsmartiaux {
    /*background: rgba(255, 125, 125, 0.3);*/
    width : 100%;
    margin-top : 20px;
}

.actualitesartsmartiaux {
    border: 2px solid #E63023;
    margin-top: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.actualitesartsmartiaux H3 {
    background: #E63023;
    color: #FFFFFF;
    margin-top: 0px;
    text-align: center;
    font-size:1.8em;
}

#cadre_central .item-pageartsmartiaux H1{
    color: #E63023;
    #text-shadow: 2px 2px 2px #000000;
    text-align: center;
    font-size:3.5em;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

#cadre_central .blogartsmartiaux H1{
    color: #E63023;
    #text-shadow: 2px 2px 2px #000000;
    text-align: center;
    font-size:3.5em;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

#cadre_central .pg-category-viewartsmartiaux H1 {
    color: #E63023;
    #text-shadow: 2px 2px 2px #000000;
    text-align: center;
    font-size:3.5em;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

#cadre_central .item-pageartsmartiaux H2{
    background: #E63023;
    color: #FFFFFF;
    /*border: 2px solid #E63023;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background: -moz-linear-gradient(left,  #E63023 50%, #ff7d7d 100%);
    background: -webkit-gradient(linear, left left, left right, color-stop(50%,#E63023), color-stop(100%,#ff7d7d));
    background: -webkit-linear-gradient(left,  #E63023 50%,#ff7d7d 100%);
    background: -o-linear-gradient(left,  #E63023 50%,#ff7d7d 100%);
    background: -ms-linear-gradient(left,  #E63023 50%,#ff7d7d 100%);
    background: linear-gradient(left,  #E63023 50%,#ff7d7d 100%);
}

#cadre_central .blogartsmartiaux H2{
    background: #E63023;
    color: #FFFFFF;
    border: 2px solid #E63023;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background: -moz-linear-gradient(left,  #E63023 70%, #ff7d7d 100%);
    background: -webkit-gradient(linear, left left, left right, color-stop(70%,#E63023), color-stop(100%,#ff7d7d));
    background: -webkit-linear-gradient(left,  #E63023 70%,#ff7d7d 100%);
    background: -o-linear-gradient(left,  #E63023 70%,#ff7d7d 100%);
    background: -ms-linear-gradient(left,  #E63023 70%,#ff7d7d 100%);
    background: linear-gradient(left,  #E63023 70%,#ff7d7d 100%);
}

#cadre_central .titre_cadre_centralartsmartiaux H1{
    color: #E63023;
    #text-shadow: 2px 2px 2px #000000;
    text-align: center;
    font-size:3.5em;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}