@import url("vocotruyen.css");
@import url("judo.css");
@import url("general.css");
@import url("modernjazz.css");
@import url("meditation.css");
@import url("gymnastique.css");

html{margin:0px; padding: 0px}
body{
    background: #EBEBEB;
    font-family: arial,sans-serif;
    font-size: 12px;
    width: 100%;
}

.clr {clear:both}
#cadre_exterieur {
    background: rgba(255, 255, 255, 0.5);
    width: 80%;
    min-width: 800px;
    max-width: 1024px;
    border: 2px outset #808080;
    margin : auto;
}

#logo {
    width: 100%;
    height: 300px;
    margin: 0px auto;
    background: url("../images/csmb_banniere_bulles.jpg") center no-repeat;
}

#cadre_principal {
    width : 100%;
    margin-top : 20px;
}

#cadre_gauche {
    width: 20%;
    float : left;
    border: 0px outset #808080;
    margin-left: 2%;
    margin-right: 2%;
    position : relative;
    z-index:10;
}

#actualites {
    margin-top: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#actualites H3 {
    color: #FFFFFF;
    margin-top: 0px;
    text-align: center;
    font-size:1.8em;
}
#actualites a {
    color: black;
}

#sous-actualites {
    margin-top: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#sous-actualites H3 {
    color: #FFFFFF;
    margin-top: 0px;
    text-align: center;
    font-size:1.8em;
}
#sous-actualites a {
    color: black;
}

div#actualites:empty{
    display:none
}

#actualites .newsitems {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#sous-actualites .newsitems {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#cadre_central {
    width: 52%;
    margin: 0px;
    position : relative;
    float : left;
}

#cadre_central H1 {
    text-align: center;
    font-size:3.5em;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

#cadre_central H2 {
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

#cadre_droite {
    width: 20%;
    float : left;
    border: 0px outset #808080;
    margin-left: 2%;
    margin-right: 2%;
    position : relative;
    z-index:10;
}

#pied_de_page {padding:10px 0;text-align:center}